.container_card{    margin: 0 auto;    
    padding:  0px 20px 20px 20px;    
    display: grid;    /* width: 800px; */    
    grid-template-columns: 1fr 1fr ;   
    grid-gap:1em;        /* grid-row-gap: 60px; */
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@font-face{
    font-family: 'letraciborg.ttf';
  src: url("../../estilos/letraciborg.ttf");
}
@font-face{
    font-family: 'spaceage.ttf';
  src: url("../../estilos/spaceage.ttf");}
@font-face{
    font-family: 'Retrolight.ttf';
  src: url("../../estilos/Retrolight.ttf");}
 @font-face{
    font-family: 'facilleer.ttf';
  src: url("../../estilos/facilleer.ttf");}
  @font-face {
    font-family: 'rosainicial.ttf';
    src: url("../../estilos/rosainicial.ttf");

}

@font-face {
    font-family: 'uwu.ttf';
    src: url("../../estilos/uwu.ttf");
}
body{
    background: #000;
}
.formulario{
    background: #000;
}
 
header {
    
    width: 100%;
    height: 400px;
    background: linear-gradient(to right, hsla(278, 85%, 21%, 0.856), hsla(186, 88%, 48%, 0.393)), url('../../img/neon-tropical-monstera-leaf-banner.jpg');
    background-size: 100% 100%; /* Cambia el tamaño de fondo */
    background-attachment: fixed;
    background-position: center; /* Centra el fondo */
    align-items: center;
}
header .logo {
    width: 50px; 
    position: absolute;
  top: 10px;
  left: 10px;/* cambia el tamaño según lo que necesites */
 
}
nav.head_titu{
    text-align: right;
    padding: 30px 50px 0 0;
   
}
nav > a.incioh{
    
    color: rgb(255, 255, 255);
    border-radius: 30px;
    background: linear-gradient(to right, hsla(7, 100%, 51%, 0.712), hsla(59, 100%, 50%, 0.616));
    background-size: cover;
    padding: 10px;
}
nav > a{
    font-family: 'uwu.ttf';
    color:#ffffff;
    font-size: 15px;
    font-weight: 30;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    
    color: #000000;
    background: linear-gradient(to right, hsla(252, 93%, 39%, 0.568), hsla(138, 100%, 50%, 0.836));
    border-radius: 20px;
    padding: 0.5rem 1rem;
    text-decoration: none;
}



.card{    background: linear-gradient(to right, hsla(278, 85%, 21%, 0.856), hsla(186, 88%, 48%, 0.393)), url('../../img/seamless-pattern-with-tropical-leaves-flowers.jpg');
}

.tituloc {
    background: linear-gradient(to right, hsla(278, 85%, 21%, 0.856), hsla(186, 88%, 48%, 0.393)), url('../../img/neon-tropical-monstera-leaf-banner.jpg');

    font-family:'uwu.ttf';
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to right, #29d7c2, #09e735);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
     font-size: 100px;
  }
.btnbtn-secondary{
    background: #111f56;
}
.card-tittle{
    font-family:'uwu.ttf';
    background: linear-gradient(to right, #5e07e1,  #10b09e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;

}
.card-title2{
    font-family: 'uwu.ttf';
    color: white;
}
.descrip{
    color: white;
    font-family: 'poppins',sans-serif;
    font-size: 15px;
}
.autorestilo{
    font-family: 'Retrolight.ttf';
    color: #1f435c;
    
}
.button{
    font-family:'letraciborg.ttf';
    font-size: 35px;

}
.my-0{
    font-family:'spaceage.ttf';
    text-align: left;
   font-size: 20px;
}
.anadirc{
	font-family:'spaceage.ttf';
}

.titulomitienda {
    font-family: 'rosainicial.ttf';
    background: linear-gradient(to right, #6b78db, #11e9b3b6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 200px; /* Tamaño base del texto */
  
}

/* Media queries para ajustar el tamaño del texto en diferentes tamaños de pantalla */
@media screen and (max-width: 768px) {
    .titulomitienda {
        font-size: 3rem; /* Tamaño para pantallas más pequeñas */
    }
}

@media screen and (max-width: 480px) {
    .titulomitienda {
        font-size: 2rem; /* Tamaño para pantallas aún más pequeñas */
    }
}



#loader{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(to top, rgba(230, 255, 8, 0.623),rgba(10, 140, 226, 0.452));
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#loader.fadeOut{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

  
#loader img {
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.fas fa-shopping-cart{
    width: 100px;
}
.blog-post{
    position: relative;   
    display: block; 
    margin-bottom: 15px;    margin: 30px;
}
.blog-post img{    width: 100%;   
     height: 450px;    object-fit: cover;    border-radius: 10px;    }
.blog-post .category{    position: absolute;    top: 20px;    left: 20px;    
    padding: 10px 15px;  font-size: 14px;    text-decoration: none;    
    background-color: #6b78db;    color: #ffffff;    border-radius: 5px;    
    box-shadow: 1px 1px 8px rgba(0,0,0,0.1);    text-transform: uppercase;
}
.text-content{    position: relative;   
     bottom: 40px;    padding: 20px;    
     background: linear-gradient(to top, rgb(5, 55, 113), #14b64d, #3308b5);   
     width: calc(100% - 20px);    left: 50%;    transform: translateX(-50%); border-radius: 10px;    box-shadow: 1px 1px 8px rgba(0,0,0,0.08);
     /* padding-top: -50px;} */
}
.fas fa-shopping-cart{
    background: yellowgreen;
}
.text-content h2{   
     font-size: 20px;
     font-weight: 400;    /* margin-bottom: 30px; */}
.text-content img{    height: 70px;   
     width: 70px;    border: 5px solid rgba(0,0,0,0.1); 
     border-radius: 50%;  
     position: absolute;  
     top: -35px;    left: 35px;}
.totalcop{
    text-align: left; 
    color: #000000;
    font-family:'letraciborg.ttf';
}
.tags a{    color: #888;    font-weight: 700;    text-decoration: none;    margin-right: 15px;    transition: 0.3s ease;}
.tags a:hover{    color: #000;}
@media screen and (max-width: 1100px) {    .container_card{        grid-template-columns: 1fr 1fr;        grid-row-gap: 60px;    }}
@media screen and (max-width: 600px) {    .container_card{        grid-template-columns: 1fr;        grid-row-gap: 60px;    }}
.navbar navbar-expand-lg navbar-dark{
    background-color: #2ce70f;
} 

.container-fluid_2 {
    
    display: flex; /* Establece el contenedor como flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 30vh; /* Opcional: ajusta la altura según tus necesidades */
    margin: auto;
    
}
