@font-face {
    font-family: 'uwu.ttf';
    src: url("../../../../recursos/fuentes/uwu.ttf");
}
@font-face {
    font-family: 'perfil.ttf';
    src: url("../../../../recursos/fuentes/perfil.ttf");
}
body{
    background: black;
}
h5{
    font-family: 'perfil.ttf';
}
.btn-flotante {
font-size: 16px; /* Cambiar el tamaño de la tipografia */
font-weight: bold; /* Fuente en negrita o bold */
color: #ffffff; /* Color del texto */
border-radius: 5px; /* Borde del boton */
letter-spacing: 2px; /* Espacio entre letras */
background-color: #6fe91e; /* Color de fondo */
padding: 18px 30px; /* Relleno del boton */
position: fixed;
bottom: 40px;
right: 40px;
transition: all 300ms ease 0ms;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
z-index: 99;
text-decoration: none;
}
.btn-flotante:hover {
background-color: #f70743;
transform: translateY(-7px);
}
.logo-img {
    width: 50px; /* ajusta el tamaño según lo necesites */
    height: auto; /* para mantener la proporción */
}
.logo-container {
    display: inline-block;
    margin-right: 20px; /* Ajusta este valor según sea necesario */
}
.navbar-nav{
    font-family: 'uwu.ttf';
}
header {
    font-family: 'uwu.ttf';
    
}

@media only screen and (max-width: 600px) {
.btn-flotante {
font-size: 14px;
padding: 12px 20px;
bottom: 20px;
right: 20px;
}
}